@{ ViewBag.Title = "Index"; }

<h1>A blog post of some interest</h1>
<p>
	This is a blog post of some interest.
</p>
<p>
	Rump pork loin salami flank drumstick pork chop, venison ham turkey short loin pancetta boudin pig tongue pork. Short ribs beef meatball pork chop tri-tip ball tip. Pork loin short loin andouille pig. Sirloin short ribs shank, chicken shoulder meatball short loin pork loin shankle pork ribeye strip steak. Sirloin drumstick meatloaf, cow spare ribs flank t-bone fatback. Ball tip sausage shankle jowl salami sirloin. Fatback sausage turkey shank pastrami beef ribs, andouille bacon.
</p>
<p>
	Fatback pastrami shoulder bresaola. Cow headcheese ham hock, pastrami bresaola turkey tongue strip steak tri-tip meatball. Meatloaf pancetta brisket pork ham hock venison spare ribs meatball, strip steak turkey. Strip steak short ribs pork belly pork pastrami. Jerky bresaola venison sirloin, tenderloin meatball beef ribeye ball tip short loin headcheese shank. Shoulder t-bone sirloin, tenderloin strip steak cow ground round. Tail chicken tenderloin tri-tip, shoulder beef brisket shank swine bacon pork chop tongue sirloin.
</p>