/* { box-shadow: inset 0 0 1px lightness(@background, 5%); }*/
/* Mixins */
.title-font {
  font-family: 'Philosopher', Arial, Serif;
  text-transform: lowercase;
}
.transition {
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
* {
  margin: 0;
  padding: 0;
}
a {
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
a:hover {
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
body {
  background: #515b51 url(../img/background.gif);
  color: #d6caa2;
  font-family: Garamond;
  font-size: 62.5%;
  margin: 0;
}
code {
  font-family: 'Bitstream Vera Sans Mono', Monaco, Consolas, 'Courier New';
  font-size: 0.75em;
}
em {
  font-style: italic;
}
/* Header */
body > header {
  font-family: 'Philosopher', Arial, Serif;
  text-transform: lowercase;
  background-color: #3c4a3c;
  border-bottom: 2px solid #d6caa2;
  height: 30px;
  margin: 0 0 10px;
  padding: 50px 0 0;
  letter-spacing: 0.2em;
  text-shadow: 0 2px 0 #3c4a3c;
}
body > header h1 {
  float: left;
  font-size: 3.0em;
  height: 30px;
  margin: 0;
}
body > header a {
  color: #d6caa2;
  text-decoration: none;
}
body > header a:hover {
  color: #eae3ce;
}
/* Header : Navigation */
nav {
  float: right;
  font-size: 2.0em;
  margin: 10px 0 0;
}
nav ol {
  float: right;
  margin: 0;
}
nav ol li {
  float: left;
  list-style-type: none;
}
nav a {
  display: block;
  height: 30px;
  margin: 0 10px;
}
/* Content */
#content {
  margin-right: 250px;
}
#content p {
  font-size: 1.75em;
  line-height: 1.5em;
  margin: 0 0 15px;
  text-align: justify;
}
#content a, aside a {
  color: #c2b176;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#content a:hover, aside a:hover {
  color: #eae3ce;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#content header {
  font-family: 'Philosopher', Arial, Serif;
  text-transform: lowercase;
  border-bottom: 2px solid #d6caa2;
  height: 20px;
  margin: 0 0 10px;
  text-shadow: 0 2px 0 #515b51;
}
#content header h1 {
  float: left;
  font-size: 2.0em;
}
#content header h1 a {
  color: #d6caa2;
}
#content header h2 {
  float: right;
}
#content > h1 {
  font-family: 'Philosopher', Arial, Serif;
  text-transform: lowercase;
  border-bottom: 2px solid #d6caa2;
  font-size: 2.0em;
  margin: 15px 0 10px;
  text-shadow: 0 2px 0 #515b51;
}
/* Content : Posts */
.post {
  list-style-type: none;
  margin: 15px 0;
}
.post header h1 a {
  text-decoration: none;
}
.post > h1 {
  font-family: 'Philosopher', Arial, Serif;
  text-transform: lowercase;
  border-bottom: 1px solid #d6caa2;
  font-size: 1.75em;
  margin: 0 0 5px;
}
.post > footer {
  border-top: 2px solid #d6caa2;
  font-size: 0.85em;
  padding: 5px 0 0;
}
.post > p > img {
  border-radius: 3px;
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.3);
  margin: 0 15px;
}
/* Sidebar */
aside {
  float: right;
  font-size: 1.4em;
  line-height: 1.65em;
  width: 230px;
}
aside .photo {
  background-image: url(../img/photo.jpg);
  border: 1px solid #3c4a3c;
  border-radius: 3px;
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.3);
  height: 225px;
  margin: 0 auto 10px;
  text-indent: -9999px;
  width: 180px;
}
aside h1 {
  font-family: 'Philosopher', Arial, Serif;
  text-transform: lowercase;
  border-bottom: 2px solid #d6caa2;
  font-size: 1.25em;
  margin: 10px 0 0;
}
aside p {
  clear: both;
  font-size: 1.125em;
  text-align: center;
}
aside ul {
  list-style-type: none;
  margin: 5px auto 0;
}
aside ul li {
  float: left;
}
aside ul li a {
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #3c4a3c;
  border-radius: 4px;
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.3);
  color: #d6caa2;
  display: block;
  font-size: 1.125em;
  height: 28px;
  margin: 5px 2px;
  padding: 6px;
  text-decoration: none;
  width: 28px;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
aside ul li a:hover {
  box-shadow: none;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
aside ul .rss {
  background-image: url('../img/icons/rss.png');
}
aside ul .twitter {
  background-image: url('../img/icons/twitter.png');
}
aside ul .linkedin {
  background-image: url('../img/icons/linkedin.png');
}
aside ul .github {
  background-image: url('../img/icons/github.png');
}
aside ul .forrst {
  background-image: url('../img/icons/forrst.png');
}
/* Footer */
body > footer p {
  color: #7c8a7c;
  font-size: 1.5em;
  margin: 0 0 15px;
  text-align: center;
}
body > footer a {
  border-bottom: 1px dotted #7c8a7c;
  color: #7c8a7c;
  text-decoration: none;
}
body > footer a:hover {
  border-bottom-style: solid;
}
/* Generic */
.container {
  margin: 0 auto;
  min-width: 800px;
  max-width: 1200px;
  width: 55%;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: block;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/* Plugins/Miscellaneous */
#disqus_thread {
  font-size: 1.5em;
}
#disqus_thread h3 {
  font-family: 'Philosopher', Arial, Serif;
  text-transform: lowercase;
  border-bottom: 2px solid #d6caa2;
}
