@background: rgb(60, 74, 60);
@midground: saturation(lightness(@background, 7.5%), -5%);
	@midground-highlight: lightness(@midground, 5%);
@foreground: rgb(214, 202, 162);
	@foreground-highlight: lightness(@foreground, 12.5%);

/* { box-shadow: inset 0 0 1px lightness(@background, 5%); }*/

/* Mixins */
.title-font {
	font-family: 'Philosopher', Arial, Serif;
	text-transform: lowercase;
}

* {
	margin: 0;
	padding: 0;
}

a {
	-moz-transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
}
a:hover {
	-moz-transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
}

body {
	background-color: @midground;
	color: @foreground;
	font-family: Garamond;
	font-size: 62.5%;
	margin: 0;
}

/* Header */

body > header {
	.title-font();
	
	background-color: @background;
	border-bottom: 2px solid @foreground;
	height: 30px;
	margin: 0 0 10px;
	padding: 50px 0 0;
	letter-spacing: 0.2em;
	text-shadow: 0 2px 0 @background;
}

body > header h1 {
	float: left;
	font-size: 3.0em;
	height: 30px;
	margin: 0;
}

body > header a {
	color: @foreground;
	text-decoration: none;
}

body > header a:hover {
	color: @foreground-highlight;
}

/* Header : Navigation */

nav {
	float: right;
	font-size: 2.0em;
	margin: 10px 0 0;
}

nav ol {
	float: right;
	margin: 0;
}

nav ol li {
	float: left;
	list-style-type: none;
}

nav a {
	display: block;
	height: 30px;
	margin: 0 10px;
}

/* Content */

#content {
	margin-right: 250px;
}

#content p {
	font-size: 1.75em;
	line-height: 1.5em;
	margin: 0 0 15px;
	text-align: justify;
}

#content a, aside a {
	color: lightness(@foreground, -12.5%);

	-moz-transition-property: color;
	-moz-transition-duration: 0.25s;
	
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.25s;
}
#content a:hover, aside a:hover {
	color: @foreground-highlight;
	
	-moz-transition-property: color;
	-moz-transition-duration: 0.25s;
	
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.25s;
}

#content header {
	.title-font();
	
	border-bottom: 2px solid @foreground;
	height: 20px;
	margin: 0 0 10px;
	text-shadow: 0 2px 0 @midground;
	
	h1 {
		float: left;
		font-size: 2.0em;
		
		a {
			color: @foreground;
		}
	}
	h2 {
		float: right;
	}
}

#content > h1 {
	.title-font();
	
	border-bottom: 2px solid @foreground;
	font-size: 2.0em;
	margin: 15px 0 10px;
	text-shadow: 0 2px 0 @midground;
}

/* Content : Posts */
.post {
	list-style-type: none;
	margin: 15px 0;
}

.post header h1 a {
	text-decoration: none;
}

.post > h1 {
	.title-font();
	
	border-bottom: 1px solid @foreground;
	font-size: 1.75em;
	margin: 0 0 5px;
}

.post > footer {
	border-top: 2px solid @foreground;
	font-size: 0.85em;
	padding: 5px 0 0;
}

/* Sidebar */

aside {
	float: right;
	font-size: 1.4em;
	line-height: 1.4em * 1.18;
	width: 230px;
}

aside .photo {
	background-image: url(../img/photo.jpg);
	border-radius: 3px;
	box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.3);
	height: 225px;
	margin: 0 auto 10px;
	text-indent: -9999px;
	width: 180px;
}

aside h1 {
	.title-font();
	
	border-bottom: 2px solid @foreground;
	font-size: 1.25em;
	margin: 10px 0 0;
}

aside p {
	clear: both;
	font-size: 1.125em;
	text-align: center;
}

aside ul {
	list-style-type: none;
	margin: 5px auto 0;
}

aside ul li {
	float: left;
	
	a {
		background-position: center center;
		background-repeat: no-repeat;
		border: 1px solid @midground-highlight;
		border-radius: 4px;
		box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.3);
		color: @foreground;
		display: block;
		font-size: 1.125em;
		height: 28px;
		margin: 5px 2px;
		padding: 6px;
		text-decoration: none;
		width: 28px;
	}
	
	a:hover {
		background-color: @midground-highlight;
		box-shadow: none;
	}
}

aside ul .rss { background-image: url('../img/icons/rss.png'); }
aside ul .twitter { background-image: url('../img/icons/twitter.png'); }
aside ul .linkedin { background-image: url('../img/icons/linkedin.png'); }
aside ul .github { background-image: url('../img/icons/github.png'); }
aside ul .forrst { background-image: url('../img/icons/forrst.png'); }

/* Footer */

@footer-foreground: saturation(lightness(@background, 25%), -5%);

body > footer p {
	color: @footer-foreground;
	font-size: 1.5em;
	margin: 0 0 15px;
	text-align: center;
}

body > footer a {
	border-bottom: 1px dotted @footer-foreground;
	color: @footer-foreground;
	text-decoration: none;
}
body > footer a:hover {
	border-bottom-style: solid;
}

/* Generic */

.container {
	margin: 0 auto;
	min-width: 800px;
	width: 55%;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: block;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}

/* Plugins/Miscellaneous */

#disqus_thread {
	font-size: 1.5em;
}

#disqus_thread h3 {
	.title-font();
	
	border-bottom: 2px solid @foreground;
}