@background: rgb(60, 74, 60);
@foreground: rgb(214, 202, 162);

* { box-shadow: inset 0 0 1px lightness(@background, 25%); }

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: @background;
	color: @foreground;
	font-size: 62.5%;
	margin: 0;
}

/* Header */

header {
	border-bottom: 2px solid @foreground;
	font-family: 'Philosopher', Arial, Serif;
	height: 30px;
	padding: 50px 0 0;
	letter-spacing: 0.2em;
	text-shadow: 0 2px 0 @background;
	text-transform: lowercase;
}

h1 {
	float: left;
	font-size: 3.0em;
	height: 30px;
	margin: 0;
}

/* Header : Navigation */

nav {
	float: right;
	font-size: 2.0em;
}

nav ol {
	float: right;
	margin: 0;
}

nav ol li {
	float: left;
	list-style-type: none;
}

nav a {
	color: @foreground;
	display: block;
	height: 30px;
	margin: 0 10px;
	text-decoration: none;
}

/* Content */

#content section {
	float: left;
}

#content aside {
	float: right;
	font-size: 1.4em;
	line-height: 1.4em * 1.18;
	padding: 10px;
	text-align: center;
	width: 230px;
}

/* Generic */

.container {
	margin: 0 auto;
	min-width: 600px;
	width: 50%;
}