<!doctype html>

<html>

<head>
	<meta charset=utf-8>
	<title>Tim G. Thomas</title>

	<link rel=stylesheet href='http://fonts.googleapis.com/css?family=Philosopher'>
	<link rel=stylesheet href='@Url.Content("~/Content/css/style.min.css")'>
</head>

<body>
	<header>
		<div class=container>
			<h1>Tim G. Thomas</h1>
			<nav>
				<ol>
					<li><a href='@Href("~/")'>Blog</a></li>
					<li><a href=http://www.timgthomas.com>Portfolio</a></li>
				</ol>
			</nav>
		</div>
	</header>
	<div class=container>
		<aside>
			<p>I'm a Central-Texas-based Web developer, graphic designer, and community leader.</p>
		</aside>
		<section id=content>@RenderBody()</section>
		<!-- TODO: Replace with CSS-based clear fix -->
		<br style='clear: both'>
	</div>
	<footer class=container>
		<p>&copy; Tim G. Thomas</p>
	</footer>
</body>

</html>